/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/RAsend.iml
/.idea/vcs.xml
/chromedriver.exe
/env.py
/.idea/RASend.iml
/123.json
/.idea/dataSources.xml
/.idea/sqldialects.xml
